*{
    font-family: 'Poppins', sans-serif;
}

.pattern_1{
    background-image: url('./img/pattern_1.png');
}

.pattern_2{
    background-image: url('./img/pattern_2.png');
}

.pattern_1, .pattern_2{
    padding:8em 8em;
}